

<p style="background-color:red"><%= flash[:notice] %></p>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>High Score</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, user %></td>
      <td><%= user.score %></td>
      <% end %>

    </tr>
  </tbody>

</table>

