/*
*= require reset
*= require_self
*= require_tree .
*/

@font-face{
  font-family: "pixelfont";
  src: url('fonts/pixelmix.eot');
      src: url('fonts/pixelmix.eot?iefix') format('eot'),
           url('fonts/pixelmix.woff') format('woff'),
           url('fonts/pixelmix.ttf') format('truetype'),
           url('fonts/pixelmix.svg#webfontZam02nTh') format('svg');
}

/*GLOBAL STYLES*/
a {
  text-decoration: none;
  color:rgb(64,166,56);
}
body {
  /*color:rgb(64,166,56);*/
/*  background-color:rgb(16,16,1);*/
}
.container {font-family: helvetica}

h1 {
  font-size: 23px;
  font-weight: bold;
}

.flash {
  color: blue
}

.errors{
  color: crimson;
  padding: 5px;
  width: 100%;
  font-weight: bold;
}

/*FORMS*/
.form_class textarea {
  width: 90%;
  height: 60px
}

input[type="submit"] {
  margin-top: 10px;
  width: 130px;
  height: 30px;
  border: 1px solid black;
  font-size: 15px;
  background-color: black;
  color:rgb(64,166,56)
}

form#new_user input {
  margin-left: 5px;
}
#user_password_confirmation {
  width: 126px;
}


/* NAV BAR*/
#home_nav{
  margin-top: 20px;
  background-color: rgba(0,0,0,1);
  text-align: center
}
#home_nav ul li{
  display: inline-block;
  font-family: "pixelfont";
  font-size: 23px;
  padding: 20px;
}

#home_nav ul li a {
}

/*LOGIN*/
#login_content {
  margin-top: 50px;
  text-align: center;
  background-color: rgb(64,166,56);
  padding: 30px 10px;
}
#login h1 {
  text-align: left;
}
/*NEW USER*/
#new_user_container {
  margin-top: 70px;
}

#new_user {
  background-color: rgb(64,166,56);
  padding: 30px
}

/*NEWS FEED*/
#news_feed{
  margin-top: 20px;
  height: 500px;
  overflow: scroll;
}

#news_feed_content{
  margin-top: 30px;
}

.news_feed_friend{
  border: solid black 2px;
  padding: 10px;
  margin-top: 15px;
}

/*USER PROFILE PAGE*/
#user{
  margin-top: 20px;
}


#user_info{
  display: inline-block;
}

#user_comments{
  display: inline-block;
  margin-top: 30px
}

/*COMMENTS*/
#comment_content{
  margin-top: 25px;
  max-height: 400px;
  overflow: scroll;
}


/*GAME*/
.game_1_circle{
  width: 50px;
  height: 50px;
  background-image: url('http://static.tumblr.com/264e223b77645f2705fa9cf2e310987c/jvsbomj/M60mpstkq/tumblr_static_question_mark.png');
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  border: solid black 4px;
  border-radius: 100%;
  display: inline-block;
}

.game_1_guess_circle {
   width: 50px;
  height: 50px;
  border: solid black 4px;
  border-radius: 100%;
  display: inline-block;
}
